header
    nav(class="flex flex-row justify-between")
        div.logo(class="ml-10")
            a(href='/')
                img(src="/static/img/logo.png", alt="logo", class=" w-24 h-auto mt-10").logo-img
        ul(class='mr-10 mt-10')
            li
                a(href='About' class="text-white font-bold text-lg") About