@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  height: 7vh;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  padding: 10px 20px;
  margin: 5vh auto;
}

.search-bar input {
  background: transparent;
  width: 90%;
  transition-duration: 100ms;
}

.search-bar input:hover {
  border: none;
  font-size: 1.05em;
}

textarea:focus, input:focus {
  outline: none;
}

.search-bar button img {
  width: 80%;
  height: 80%;
}
